* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

.show-cursor {
    cursor: auto !important;
}

:root {
    /*!COLORS*/
    --backgroundC: #221a1a;
    --backgroundHoverC: #161616;
    --textC: #fff;
    --textMutedC: #bebebe;
    --objectC: rgb(253, 215, 25);
    --objectHoverC: #ec2440;
    --blueC: #3f6096;
    --blueLightC: #5aa9bf;

    /*!FONTS*/
    --RobotoF: 'Roboto', sans-serif;
    --BakbakF: 'Bakbak One', cursive;

    /*!FONT-SIZES*/
    --title: 2rem;
    --subtitle: 1.6rem;
    --textM: 1.2rem;
    --text: 1.1rem;
    --btnText: 1.1rem;

    --respTitle: 1rem;
    --respSubtitle: 0.89rem;
    --respText: 0.55rem;
    --respBtnText: 0.55rem; 

    /*!SHADOWS*/
    --boxShadow: 5px 8px 13px 3px rgb(20,20,20);

    /*!BORDERS*/
    --border: 1px solid var(--textMutedC);
    --borderBtn: 1px solid var(--blueLightC);
    --borderRadius: 8px;

    /*!TRANSITIONS */
    --allIn: all 0.21s ease-in;
    --allOut: all 0.21s ease-out;
    --transitionColor: color 0.21s ease-in-out;
    --transitionOpacity: opacity 0.21s ease-in-out;
}

html, body {
    width: 1px;
    height: 100vh;
    background: var(--backgroundC);
    color: var(--textC);
    font-family: var(--RobotoF);
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.none {
    display: none;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#container canvas {
    width: 100vw !important;
    height: 100vh !important;
}

.page-inner {
    width: 100vw;
    height: 100vh;
}

.full-page {
 position: relative;
 min-height: 100vh;
 padding-left: 13rem;
}

.section-full {
    min-height: 100vh;
    padding: 0 3.45rem;
    position: relative;
    transition: var(--transitionOpacity);
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-size: 3rem;
    color: var(--blueLightC);
}

.error-cross {
    text-align: center;
    font-size: 2rem;
    color: var(--objectHoverC);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .full-page {
        padding-left: 0 !important;
    }

    .section-full {
        padding: 0 1rem !important;
        min-height: 50vh !important;
    }

    .section-full.contact {
        min-height: 55vh !important;
    }
}
