* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*!COLORS*/
    --backgroundC: #221a1a;
    --backgroundHoverC: #161616;
    --textC: #fff;
    --textMutedC: #bebebe;
    --objectC: rgb(253, 215, 25);
    --objectHoverC: #ec2440;
    --blueC: #3f6096;
    --blueLightC: #5aa9bf;

    /*!FONTS*/
    --RobotoF: 'Roboto', sans-serif;
    --BakbakF: 'Bakbak One', cursive;

    /*!FONT-SIZES*/
    --title: 2rem;
    --subtitle: 1.6rem;
    --textM: 1.2rem;
    --text: 1.1rem;
    --btnText: 1.1rem;

    --respTitle: 1rem;
    --respSubtitle: 0.89rem;
    --respText: 0.55rem;
    --respBtnText: 0.55rem; 

    /*!SHADOWS*/
    --boxShadow: 5px 8px 13px 3px rgb(20,20,20);

    /*!BORDERS*/
    --border: 1px solid var(--textMutedC);
    --borderBtn: 1px solid var(--blueLightC);
    --borderRadius: 8px;

    /*!TRANSITIONS */
    --allIn: all 0.21s ease-in;
    --allOut: all 0.21s ease-out;
    --transitionColor: color 0.21s ease-in-out;
    --transitionOpacity: opacity 0.21s ease-in-out;
}

html, body {
    width: 1px;
    height: 100vh;
    background: var(--backgroundC);
    color: var(--textC);
    font-family: var(--RobotoF);
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, safari, and Opera */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*!RESPONSIVE*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .full-page {
        padding-left: 0 !important;
    }

    .section-full {
        padding: 0 1rem !important;
        min-height: 50vh !important;
    }

    .section-full.contact {
        min-height: 55vh !important;
    }

    .big-font {
        width: 100% !important;
        font-size: 13rem !important;
        top: 0 !important;
        left: 1rem !important;
    }

    .animation__space {
        margin: 0.55rem !important;
    }

    .scroll-down {
        bottom: 5rem !important;
    }
}

@media only screen and (max-width: 320px) {
    .big-font {
        width: 100% !important;
        font-size: 8rem !important;
        top: 0 !important;
        left: 1rem !important;
    }
}

.none {
    display: none;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#container canvas {
    width: 100vw !important;
    height: 100vh !important;
}

.page-inner {
    width: 100vw;
    height: 100vh;
}

.full-page {
 position: relative;
 min-height: 100vh;
 padding-left: 13rem;
}

.section-full {
    min-height: 100vh;
    padding: 0 3.45rem;
    position: relative;
    transition: var(--transitionOpacity);
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-size: 3rem;
    color: var(--blueLightC);
}

.error-cross {
    text-align: center;
    font-size: 2rem;
    color: var(--objectHoverC);
}

/*!LOADING*/
.loading {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.logo-loading {
    animation: flow 1s 0.21s;
    width: 6rem;
    height: 6rem;
}

@keyframes flow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(144px);
        transition: transform 0.21s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    100% {
        transform: translateY(3px);
        transition: transform 0.21s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

/*!BIG BACKGROUND FONT*/
.big-font {
    position: absolute;
    top: -13rem;
    font-size: 34rem;
    font-weight: bold;
    color: rgba(255,255,255,0.04);
    z-index: -1;
}

/*!ANIM LETTER*/
.animation__letter {
    display: inline-block;
    transition: var(--allOut);
}

.animation__letter--color {
    color: var(--objectC);
}

.animation__letter:hover {
    color: var(--blueLightC);
    transition: var(--transitionColor);
    animation: jelloBounce 0.8s ease-in-out both;
}

.animation__space {
    margin: 1rem;
}

@keyframes jelloBounce {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

/*!SCROLL*/

.scroll-down {
    position: absolute;
    right: 0.89rem;
    bottom: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text);
    font-weight: 300;
    -webkit-box-direction:normal;
    z-index: 50;
}

.scroll-down span {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    animation: bounce 1s linear infinite;
}

.scroll-down i {
    margin-top: 0.89rem;
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/*!BUTTON*/
.button,
.submit-btn {
    background: var(--backgroundC);
    background-size: 0% 100%;
    color: var(--blueLightC);
    font-size: var(--btnText);
    text-align: center;
    letter-spacing: 4px;
    margin-top: 1.1rem;
    padding: 0.89rem;
    position: relative;
    width: 100%;
    max-width: 16rem;
    height: 55px;
    display: inline-block;
    border: var(--borderBtn);
    box-shadow: var(--boxShadow);
    transition: var(--transitionColor);
}

.button:hover,
.submit-btn:hover {
    color: var(--backgroundHoverC);
    background-color: var(--blueLightC);
    background-size: 100% 100%;
}