.detail__content h1,
.detail__content h2 {
    color: #5aa9bf;
    font-size: 1.6rem;
    margin: 20px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.detail__content h1::after,
.detail__content h2::after {
    content: "";
    border-top: 1px solid;
    margin: 0px 20px 0px 10px;
    flex: 1 0 20px;
}


.detail__content p {
    font-size: 1rem;
    margin: 0px;
    line-height: 150%;
    color: #fff;
}

.detail__content span {
    font-size: 1.1rem;
}

.detail__content a {
    color: #5aa9bf !important;
}

.detail__content a:hover {
    color: #3f6096 !important;
    transition: color 0.21s ease-in-out;
}

.detail__content h5 {
    color: #5aa9bf;
    font-size: 1.6rem;
}

.detail__content h6 {
    color: #5aa9bf;
    font-size: 1.1rem;
}

.detail__content ul {
    list-style: disc;
    padding-left: 0.89rem;
    font-size: 0.89rem;
    line-height: 150%;
}

.detail__content ul li {
    margin: 5px 0px;
}

.detail__content .iframe-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail__content iframe {
    width: 100%;
}

/**MEDIA QUERIES*/
@media (max-width: 768px) {
    .detail__content img {
        width: 246px !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .detail__content img {
        width: 426px !important;
    }
}