@import url('../../base.css');

.blog__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5rem;
}

.blog__articles .blog__post {
    margin-bottom: 2.5rem;
    width: 32%;
}

.blog__post {
    position: relative;
    padding: 3rem 3rem 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: var(--backgroundHoverC);
    box-shadow: var(--boxShadow);
}

.blog__post--category {
    font-size: 0.89rem;
    text-transform: uppercase;
    letter-spacing: 0.19rem;
    border: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
}

.blog__post--title h5 a {
    color: var(--textC);
    font-size: var(--subtitle);
}

.blog__post--title h5 a:hover {
    color: var(--objectC);
    transition: var(--transitionColor);
}

.blog__post--content {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
    margin-top: 0.94rem;
    display: block;
}

.blog__post--content {
    float: left;
    max-width: 100%;
}

.blog__post--thumbnails img {
    max-width: 100%;
    object-fit: cover;
}

.blog__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.blog__footer--link {
    display: flex;
    align-items: center;
    color: var(--blueLightC);
    font-size: var(--title);
}

.blog__footer--link:hover {
    color: var(--blueC);
    text-decoration: underline;
    transition: var(--allIn);
}


/* selector of ListBlogPost */

.page-blog__container {
    max-width: 90rem;
    margin-left: 5rem;
}

.page-blog__header {
    text-align: center;
    padding: 3rem 3rem;
}

.page-blog__header .widget h6 {
    font-family: var(--BakbakF);
    font-size: var(--title);
    color: var(--blueLightC);
    font-weight: normal;
    text-transform: lowercase;
    margin: 0 0 2.19rem;
    padding: 0;
} 


