@import url("../../base.css");

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .all-projects {
        padding: 5rem 0.34rem !important;
    }

    .all-projects__head {
        font-size: 4rem !important;
    }

    .all-projects__item {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    .all-projects__content {
        background-color: var(--backgroundC) !important;
        box-shadow: var(--boxShadow) !important;
    }
}

@media only screen and (max-width: 320px) {
    .all-projects__head {
        font-size: 2.89rem !important;
    }

    .all-projects__content {
        padding: 0.89rem !important;
    }

    .all-projects__description {
        line-height: normal !important;
        min-height: 0vh !important;
    }

    .all-projects__image--block {
        display: none !important;
    }
}

.all-projects {
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 62.5rem;
}

.all-projects__head {
    color: var(--blueLightC);
    font-size: 4.8rem;
    line-height: 6.7rem;
    margin-top: 0;
    margin-bottom: 1.1rem;
    text-align: center;
    font-family: var(--BakbakF);
    font-weight: 400;
}

.all-projects__list {
    padding: 0;
    margin: 0;
}

.all-projects__item {
    display: grid;
    grid-template-columns: 1fr 14.55rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-bottom: 3.44rem;
}

.all-projects__content {
    padding: 3.44rem;
    background-color: var(--backgroundHoverC);
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    min-height: 22.19rem;
    grid-area: 1 / 1 / auto / 3;
}

.all-projects__content > div {
    width: 75%;
}

.all-projects__title {
    margin-bottom: 1.31rem;
    color: var(--objectC);
}

.all-projects__description {
    line-height: 233%;
    min-height: 15.94rem;
}

.all-projects__description p {
    margin: 0.55rem;
    font-size: var(--text);
    text-align: justify;
}

.all-projects__languages {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 1.55rem 0 0.63rem;
    padding: 0;
}

.all-projects__languages li {
    margin: 0 1.25rem 0.312rem 0;
    color: var(--blueLightC);
    font-weight: 200;
    white-space: nowrap;
}

.all-projects__link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.31rem 0 0;
}

.all-projects__link a {
    margin-right: 2rem;
    color: var(--textC);
    border: none;
    background-color: var(--blueC);
}

.all-projects__link a:hover {
    background-color: var(--objectHoverC);
    transition: var(--transitionColor);
}

.all-projects__link .all-projects__detail--view {
    width: auto;
    height: auto;
    font-size: var(--text);
    margin: 0;
    padding: 0.89rem;
    border-radius: var(--borderRadius);
}

.all-projects__link .all-projects__github--link {
    border-radius: 50%;
    text-align: center;
    padding: 0.89rem;
    line-height: 0;
    margin: 0;
    display: inline-block;
}

.all-projects__image {
    grid-area: 1 / 2 / auto / 4;
    position: relative;
    right: -5rem;
}

.all-projects__image a {
    width: 100%;
    height: 100%;
}

.all-projects__image--block {
    position: relative;
    padding-top: 55.21%;
    background-color: transparent;
    border-radius: var(--borderRadius);
}

.all-projects__image--block img {
    border-radius: var(--borderRadius);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) blur(1px);
}

.all-projects__image--block img:hover {
    filter: grayscale(0) blur(0);
    transition: all .21s cubic-bezier(0.165, 0.84, 0.44, 1);
}