@import url("../../base.css");

/**Prend le dessus quand on clique sur la page about */
.about-page {
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 62.5rem;
}

.about-page__text {
    width: 40%;
}

.about-page__text header {
    position: relative;
}

.about-page__text p {
    position: relative;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-size: var(--text);
}

.about-page__skill {
    width: 60%;
    flex: 1 1 auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.about-page__skill #skill {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-page > .scroll-down {
    display: none;
}