@import url("../../index.css");

@media only screen and (min-width: 320px) and (max-width: 959px) {
    .about-page {
        flex-direction: column !important;
    }
    
    .about-page__text {
        width: 100% !important;
    }

    .about-page__skill #skill {
        top: -7vh !important;
        left: -17vw !important;
        color: var(--objectC) !important;
        transition: var(--allIn) !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1080px) {
    .about-page {
        justify-content: center;
        flex-direction: column;
    }

    .about-page__skill #skill {
        top: 0vh !important;
    }
}

/**Prend le dessus quand on clique sur la page about */
.about-page {
    margin: 0 auto;
    padding: 5rem 0 !important;
    max-width: 62.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-page__text {
    width: 40%;
}

.about-page__text header {
    position: relative;
}

.about-page__text p {
    position: relative;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-size: var(--text);
}

.about-page__skill {
    width: 60%;
    flex: 1 1 auto;
    position: relative;
}

.about-page__skill #skill {
    position: absolute;
    top: -40vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blueLightC);
}

.about-page > .scroll-down {
    display: none;
}