<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Portfolio of DavMcode</title>
    {% load static %}
    <!-- Icon -->
    <link rel="shortcut icon" href="{% static "source/logo.ico" %}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/hooks/anim-letter.css" %}">
    <link rel="stylesheet" href="{% static "css/hooks/big-background.css" %}">
    <link rel="stylesheet" href="{% static "css/hooks/loading.css" %}">
    <link rel="stylesheet" href="{% static "css/components/navbar.css" %}">
    <link rel="stylesheet" href="{% static "css/components/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/components/scroll-down.css" %}">
    <link rel="stylesheet" href="{% static "css/components/button.css" %}">
    <link rel="stylesheet" href="{% static "css/components/detail-project-and-blog.css" %}">
    <link rel="stylesheet" href="{% static "css/components/home/home.css" %}">
    <link rel="stylesheet" href="{% static "css/components/project/work.css" %}">
    <link rel="stylesheet" href="{% static "css/components/project/all-works.css" %}">
    <link rel="stylesheet" href="{% static "css/components/about/about.css" %}">
    <link rel="stylesheet" href="{% static "css/components/about/about-page.css" %}">
    <link rel="stylesheet" href="{% static "css/components/blog/blog.css" %}">
    <link rel="stylesheet" href="{% static "css/components/contact/contact.css" %}">
    <link rel="stylesheet" href="{% static "css/components/contact/contact-page.css" %}">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@100;300;400;700;900&family=Smooch&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <div id="container"></div>
    <div id="root"></div>

    <!-- Script FontAwesome -->
    <script src="https://kit.fontawesome.com/4d13782961.js" crossorigin="anonymous"></script>
    <!-- Script -->
    <script src="{% static "frontend/main.js" %}"></script>
    <!-- Tag Cloud -->
    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>