@import url('../../base.css');

@media only screen and (min-width: 320px) and (max-width: 959px) {
    .contact {
        flex-direction: column !important;
    }

    .contact__block--text {
        width: 100% !important;
        padding-right: 0 !important;
    }

    .contact__map {
        display: none !important;
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.contact__block--text {
    width: 50%;
    padding-right: 5rem;
}

.contact__block--text header {
    position: relative;
}

.contact__block--text p {
    position: relative;
    margin-bottom: 1.5rem;
    font-size: var(--text);
}

.contact__block--text + div {
    position: absolute !important;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
}

.contact__map {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact__map--info {
    position: absolute;
    background: var(--backgroundHoverC);
    top: 50px;
    left: 5rem;
    z-index: 1000;
    width: 266px;
    padding: 21px;
    color: var(--textC);
    font-size: var(--text);
    font-weight: 300;
}

.contact__map--info span {
    font-size: 1rem;
}

.contact__map--info span i {
    color: var(--objectC);
}


/* ! Pour le bouton submit se référé au fichier button.css, Afin d'éviter les doublons */


