@import url("../base.css");

.navbar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: var(--border);
}

.navbar__menu > a {
    text-align: center;
    display: block;
    width: 100%;
    font-size: var(--subtitle);
    font-weight: bold;
    color: var(--textC);
    line-height: 5rem;
    border-bottom: var(--border);
    transition: var(--allIn);
}

.navbar__menu > a:hover {
    background-color: var(--backgroundHoverC);
    color: var(--blueLightC);
    transition: var(--allOut);
}